/* Background Colour */
html {
  background: rgb(20, 23, 27);
  height: 100%;
  max-width: 1500px;
  margin: auto;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  margin: 7% auto 0;
  align-items: center;
  color: black;
  padding: 0;
  background-image: url("Library/ImageAssets/Background_page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo,
.footer {
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}
.footer {
  filter: hue-rotate(270deg);
}

h1.header,
h2.header {
  font-family: Garamond, serif;
  color: #0f4025;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.header {
  font-size: 3.75em;
  text-align: center;
  align-items: center;
}

h2.header {
  font-size: 1.75em;
  text-align: left;
  align-items: left;
  border-bottom: 3px solid #1d7335;
}

p.subheading {
  width: 80%;
  text-align: center;
  align-items: center;
  font-family: "Lora", Times, serif;
  color: #000000;
  margin-top: 0px;
}

p.subheading {
  font-size: 1.25em;
}

p.footer {
  width: 80%;
  text-align: center;
  align-items: center;
  font-family: "Lora", Times, serif;
  color: #000000;
  margin-top: 2%;
  margin-bottom: -2%;
  font-size: 1em;
}

.oval {
  margin: 2px;
  height: 5px;
  width: 450px;
  background-color: #1d7335;
  border-radius: 150%;
  align-items: center;
  justify-items: center;
}

.border {
  height: 6px;
  width: 500px;
  background-image: url("Library/ImageAssets/itembackground.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-items: center;
  display: block;
  margin: 0%;
  border: 2px solid black;
}

.itemcontainer {
  width: 490px;
  display: block;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  background-image: url("Library/ImagesParchment/mm_background_base.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  display: block;
}

h1.itemheading {
  text-align: left;
  font-size: 1.6em;
  font-family: Garamond, serif;
  margin: 0% 1.5% 0%;
  padding-top: 1%;
}

h2.itemtype {
  text-align: left;
  font-size: 1em;
  font-style: italic;
  font-family: Garamond, serif;
  margin: 0% 1.5% 1%;
}

h3.weapon {
  text-align: right;
  font-size: 1em;
  font-family: Garamond, serif;
  margin: 0% 1.5% 1%;
}

p.itembody {
  text-align: left;
  font-size: 1em;
  margin: 0% 1.5% 2%;
}

p.itemfooter {
  text-align: left;
  font-size: 1em;
  margin: 0% 1.5% 0%;
  padding-bottom: 1%;
}
