/*-----------------------------------------------------------
MasterMenu & Master Footer Containers
These are the main containers which powers the entire sites
menus and footers
-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Font Packages*/
/*-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), url("../Fonts/Roboto-Regular.ttf");
}
/*-----------------------------------------------------------*/
/*Menu Bar*/
/*-----------------------------------------------------------*/
.blackbar {
  background-color: #090809;
  height: fit-content;
  color: #fff;
}
.blackbar,
.greybar,
.line {
  margin-top: 0;
  padding: 0;
  width: 100%;
}
.greybar {
  background-color: #25282a;
}

.topmenu {
  text-align: center;
  margin-bottom: 0;
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
  padding-left: 30px;
}
.menulogo {
  width: auto;
  height: 40px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 8px;
  justify-items: center;
}
.menucontainer {
  width: 1250px;
  align-items: center;
  justify-content: left;
  margin: auto;
  display: flex;
  position: relative;
}
/*-----------------------------------------------------------*/
/*Menu Font Stylings*/
/*-----------------------------------------------------------*/
.menubar {
  align-items: center;
  overflow: hidden;
  font-family: Roboto;
  margin-top: 0;
  padding: 0;
  width: 100%;
}
.menubar a {
  float: left;
  font-size: 0.95rem;
  text-align: center;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn,
.dropdown .dropbtn,
.stdbtn {
  font-size: 0.95rem;
  border: 0;
  outline: 0;
  margin: 0;
  color: #a7afb9;
}
.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
}
.dropbtn,
.stdbtn {
  padding: 13px 12px;
  font-family: Roboto;
}
.dropbtn:hover,
.dropdown-content a:hover,
.stdbtn:hover {
  color: #fff;
}
.dropbtn::after,
.dropdown-content {
  align-items: center;
  justify-items: center;
}
.dropbtn::after {
  content: "\25BC";
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  margin-left: 4px;
  margin-right: 7px;
  color: #616f7e;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1d1e;
  /*min-width: 265px;*/
  width: 94%;
  overflow: visible;
  justify-content: center;
  left: 3%;
  align-items: center;
  align-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #a7afb9;
  padding: 7px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*-----------------------------------------------------------*/
/*line colours*/
/*-----------------------------------------------------------*/
.blueline,
.crimsonline,
.darkblueline,
.greenline,
.pinkline,
.whiteline {
  display: flex;
  height: auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1.5px solid #bd0875;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
}
.pinkline {
  border-bottom: 1.5px solid #bd0875;
}
.greenline {
  border-bottom: 1.5px solid #1fb73b;
}
.blueline {
  border-bottom: 1.5px solid #10d9dd;
}
.darkblueline {
  border-bottom: 1.5px solid #0b70d5;
}
.crimsonline {
  border-bottom: 1.5px solid #9c081a;
}
.whiteline {
  border-bottom: 1.5px solid #eaeaea;
}
/*-----------------------------------------------------------*/
/*Footer*/
/*-----------------------------------------------------------*/
.footerbox {
  width: 100%;
  height: auto;
  background-color: #242527;
  background-size: cover;
  color: #fff;
  padding: 0;
  margin: 0;
}
.footerbase {
  background-color: #191a1b;
  background-size: cover;
  color: #9b9aa7;
}
.iconlogo {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.footer-container,
.footer-links-container {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1%;
  grid-auto-flow: row;
}
.footer-container {
  grid-template-columns: 30% 60%;
  grid-template-areas: "footerlogo footerlinks";
}
.footer-links-container {
  grid-template-columns: 30% 30% 30%;
  grid-template-areas: "linksleft linkscentre linksright";
}
.footerlinks,
.footerlogo,
.linkscentre,
.linksleft,
.linksright {
  text-align: center;
  align-items: center;
}
li.footer,
ul.footer {
  text-align: left;
  align-items: left;
  font-size: 0.8rem;
  font-family: Roboto;
  margin: 0 auto 8px;
}
ul.footer {
  list-style: none;
  list-style-image: none;
}
li.heading {
  font-size: 0.8rem;
  padding-bottom: 8px;
}
.ftrlink {
  color: #fff;
  text-decoration: none;
}
.ftrlink:hover,
li.heading,
p.footer {
  color: #9b9aa7;
}
p.footer {
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: Roboto;
  margin: 0 auto;
}
