/*-----------------------------------------------------------
Main Containers
These are the main containers which power the entire site:
-The container is then what limits the sites width and margins. Every page should be contained within this. 
-Body containter is used only for the margin inside any of the shell generators to prevent edge to edge. 
-----------------------------------------------------------*/
html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../BackgroundParchment/background_texture.png);
  background-position: top;
  background-repeat: repeat;
  padding: 0;
}
.content-container {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: fit-content;
  margin: 0 auto 0;
  align-items: center;

  padding: 0;
}
.bodycontainer {
  padding: 2%;
}

body {
  margin: 0;
  padding: 0;
}
/*-----------------------------------------------------------
Grid Containers
These are the various grid containers used across the site:
-Main Containter is used on the home page to split the three columns of icons apart from one another. 
-Generator container, potion container and stat containers are all used on the shell generators.
-----------------------------------------------------------*/

.generator-container,
.potion-container,
.stat-container,
.spell-container,
.spell-heading {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
}
.generator-container {
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-areas: "Form Output";
}
.potion-container {
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: 60% 35%;
  grid-template-areas: "Desc Image";
}
.spell-container {
  grid-template-columns: 70% 20%;
  grid-template-areas: "Desc Image";
}
.spell-heading {
  grid-template-columns: 90% 5%;
  grid-template-areas: "Spell-Title Spell-Con";
}
.stat-container {
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-areas: "STR DEX CON INT WIS CHA" "STRn DEXn CONn INTn WISn CHAn";
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS,
.CHAn,
.CONn,
.DEXn,
.INTn,
.STRn,
.WISn {
  align-items: center;
  margin: auto;
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS {
  font-weight: 700;
}

.framecontainer,
.dreamcontainer,
.shipcontainer,
.potioncontainer {
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.shipcontainer,
.potioncontainer {
  width: 800px;
  color: #000;
}
.framecontainer,
.dreamcontainer {
  width: 525px;
}
.framecontainer {
  background-image: url(../BackgroundParchment/sword_meow_background_base.png);
  color: #000;
}
.dreamcontainer {
  background-image: url(../BackgroundParchment/DreamShellBackground.jpeg);
  color: #fff;
}
.shipcontainer {
  background-image: url(../BackgroundParchment/sword_meow_background_base.png);
}
.potioncontainer {
  background-image: url(../BackgroundParchment/phb_background_base.png);
}

.whitecontainer {
  background-image: url(../BackgroundParchment/sword_meow_background_base.png);
  width: 625px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.tri-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Col1 Col2 Col3";
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  margin: 0 auto;
  font-family: Garamond, serif;
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 1%;
  color: #000;
  background: rgba(76, 175, 80, 0);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.collapsible:hover {
  color: #1d6673;
}

.collapsible::after {
  content: "\02b9e";
  margin-left: 2px;
  font-size: 15px;
}

.active::after {
  content: "\02b9f";
  margin-left: 2px;
  font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  display: none;
  overflow: hidden;
}

.split-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: left;
  align-items: Left;
  grid-template-columns: repeat(6, 1fr);
}

.twofoursplit:nth-child(n) {
  grid-column: span 2;
}

.twofoursplit:nth-child(n + 2) {
  grid-column: span 4;
}

.oneonefoursplit:nth-child(n) {
  grid-column: span 1;
}

.oneonefoursplit:nth-child(n + 3) {
  grid-column: span 4;
}

.item-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  grid-template-columns: 74% 24%;
  grid-template-areas: "heading sourcegraphic";
}

.sourcegraphic {
  align-items: right;
  justify-content: right;
  text-align: right;
}

.source {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  display: inline-flex;
}
.pageno {
  font-size: 0.7rem;
  margin-left: 1px;
  display: inline-flex;
}
