/*-----------------------------------------------------------
Font Loaders
The list below is all the known font packaged loaded into
the site
-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: MoonDance;
  src: local("Moon Dance"), url("../Fonts/MoonDance-Regular.ttf");
}
@font-face {
  font-family: MrEaves;
  src: local("Mr Eaves"), url("../Fonts/Mr\ Eaves\ Small\ Caps.otf");
}
@font-face {
  font-family: Roboto;
  src: local("Roboto Regular"), url("../Fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-medium;
  src: local("Roboto Medium"), url("../Fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-bold;
  src: local("Roboto Bold"), url("../Fonts/RobotoCondensed-Bold.ttf");
}
/*-----------------------------------------------------------
DropCap Styling
On a limited number of pages, a drop cap is used. here is the
styling for said drop cap. 
-----------------------------------------------------------*/
.DropCap {
  background-image: url(../ImageAssets/T.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  font-size: 10rem;
  line-height: 0.6;
  color: transparent;
  margin-right: -0.1em;
}
/*-----------------------------------------------------------
Header Stylings
The site uses a markdown tier of header styling from H1-H4,
here are the controls for each. 
-----------------------------------------------------------*/
h1.main,
h2.main,
h3.main,
h4.main {
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}
h1.main,
h2.main,
h3.main {
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
}
h1.main,
h3.main,
h4.main {
  color: #860954;
}
h1.main {
  font-weight: bold;
  font-size: 4.4rem;
  margin-top: 0;
}
h2.main {
  color: #000;
  margin-top: -10px;
  font-size: 1.75rem;
}
h3.main,
h4.main {
  margin-top: -5px;
  font-size: 1.5rem;
}
h4.main {
  font-family: MoonDance;
  font-style: italic;
}
/*-----------------------------------------------------------
Paragraph Stylings
The site uses a markdown tier of header styling from H1-H4,
here are the controls for each. 
-----------------------------------------------------------*/
p {
  text-align: left;

  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 8px;
}
p.subheading {
  width: 50%;
  color: #000;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-family: Lora, Times, serif;
  font-size: 1.25rem;
  margin-bottom: 15px;
}
/*-----------------------------------------------------------
Generator Stylings
The site has lots of additional requirements from the various
generators it uses. here are the controls for each of them. 
-----------------------------------------------------------*/
.standard,
.standardbold,
.hbody {
  text-align: left;
  padding-bottom: 0;
}
.standard,
.standardbold {
  font-size: 1rem;
}
.standardbold {
  font-weight: 700;
}
.hbody {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.cClass,
.cSource {
  padding: 0;
}
.cClass {
  background-color: #760d81;
  color: #fff;
}
.cSource {
  color: #760d81;
  background-color: #fff;
}
.Damage {
  margin: 0 1.5%;
  padding-bottom: 1%;
  text-align: right;
  justify-items: right;
}
h1.itemheading,
h1.creaturename,
h1.spellname,
h1.PotionName,
h1.shipname,
h2.pheader,
h2.itemtype,
h2.creaturetype,
h2.spelltype,
p.itembody,
p.itemfooter,
p.status {
  text-align: left;
}
h1.itemheading,
p.itemfooter {
  margin: 0 1.5%;
}
h2.itemtype,
h2.creaturetype,
h2.spelltype,
h3.weapon,
p.itembody,
p.itemfooter {
  font-size: 1rem;
}
h2.creaturetype,
h2.spelltype,
h1.creaturename,
h1.spellname,
h1.dreamname {
  margin: 0;
}
h2.itemtype,
h2.creaturetype,
h2.spelltype,
h2.pheader,
h3.weapon,
h1.itemheading,
h1.creaturename,
h1.spellname,
h1.dreamname {
  font-family: Garamond, serif;
}
h1.itemheading,
h1.creaturename,
h1.spellname,
h1.dreamname {
  font-size: 1.6rem;
}
h1.itemheading,
h1.creaturename {
  padding-top: 1%;
  color: #000;
}
h1.creaturename {
  border-bottom: 3px solid #1d6673;
}
p.status {
  margin-bottom: 5px;
  margin-top: 5px;
}
h3.weapon {
  text-align: right;
  margin: 0 1.5% 1%;
}
p.itembody {
  margin: 0 1.5% 2%;
}
p.itemfooter {
  padding-bottom: 1%;
}
h1.spellname {
  color: #760d81;
  padding-top: 0;
}
h1.PotionName {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  color: #8b0000;
  font-family: Lora, Times, serif;
}
h1.dreamname {
  color: #fff;
  text-align: center;
  padding-top: 0;
}
h1.shipname {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
}
h2.pheader {
  color: black;
  font-size: 1.4rem;
  border-bottom: 3px solid #8b0000;
  margin-top: 10px;
  font-family: Lora, Times, serif;
}
h2.itemtype {
  margin: 0 1.5% 1%;
}
h2.spelltype {
  padding: 0;
  margin-bottom: 8px;
}
h2.itemtype,
h2.creaturetype,
h2.spelltype {
  font-style: italic;
}
/*-----------------------------------------------------------
LocationStylings
The site has lots of additional requirements from the various
locations it uses. here are the controls for each of them. 
-----------------------------------------------------------*/
h2.location {
  color: #000;
  margin-top: 25px;
  font-size: 1.6rem;
  text-align: left;
  align-items: left;
  margin-bottom: 0;
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
}
h3.location {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #860954;
  text-align: left;
  align-items: left;
  font-family: Lora, Times, serif;
}
h4.location {
  margin-top: 10px;
  font-size: 1.1rem;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
  text-align: left;
  align-items: left;
  font-family: Lora, Times, serif;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
tbody,
th {
  text-align: left;
  padding: 5px 10px;
  min-width: 50px;
}

td {
  padding: 3px 10px;
}

hr {
  border-top: 1px solid #555555;
}
