/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Main Containers*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
html,
.container,
.framecontainer,
.dreamcontainer {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(../BackgroundParchment/BackgroundImage.jpeg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: fit-content;
  margin: 4% auto 0;
  align-items: center;
  background-image: url(../BackgroundParchment/dmg_background_base.png);
  background-position: top;
}
.bodycontainer {
  padding: 2%;
}
object {
  margin: 0;
  padding: 0;
  width: 100%;
}
/*-----------------------------------------------------------*/
.framecontainer,
.dreamcontainer,
.shipcontainer,
.potioncontainer {
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
}
.framecontainer,
.dreamcontainer {
  width: 490px;
}
.framecontainer {
  background-image: url(../BackgroundParchment/sword_meow_background_base.png);
  color: #000;
}
.dreamcontainer {
  background-image: url(../BackgroundParchment/DreamShellBackground.jpeg);
  color: #fff;
}
.shipcontainer,
.potioncontainer {
  width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
.shipcontainer {
  background-image: url(../BackgroundParchment/sword_meow_background_base.png);
}
.potioncontainer {
  background-image: url(../BackgroundParchment/phb_background_base.png);
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Grid Containers */
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.main-container,
.potion-container,
.stat-container {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 0.2%;
  grid-auto-flow: row;
}
.main-container {
  grid-template-columns: auto;
  grid-template-areas: "Form Output";
}
.potion-container {
  grid-template-columns: 60% 35%;
  grid-template-areas: "Desc Image";
}
.stat-container {
  grid-template-columns: auto;
  grid-template-areas: "STR DEX CON INT WIS CHA" "STRn DEXn CONn INTn WISn CHAn";
}
/*-----------------------------------------------------------*/
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS,
.CHAn,
.CONn,
.DEXn,
.INTn,
.STRn,
.WISn {
  align-items: center;
  margin: auto;
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS {
  font-weight: 700;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Images & Other Assets*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.masthead,
object {
  width: 100%;
  margin: 0;
  padding: 0;
}
.masthead {
  align-items: center;
  justify-items: center;
}
.divider {
  margin: 0 auto;
  height: 3px;
  width: 650px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.underline {
  margin: 0 auto;
  height: 3px;
  width: 300px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Font Styling*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: MoonDance;
  src: local("Moon Dance"), url("../Fonts/MoonDance-Regular.ttf");
}
/*-----------------------------------------------------------*/
.DropCap {
  background-image: url(../ImageAssets/T.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  font-size: 10rem;
  line-height: 0.6;
  color: transparent;
  margin-right: -0.1em;
}
/*-----------------------------------------------------------*/
/*NEW Styling*/
/*-----------------------------------------------------------*/
h1.mainheading,
p.subheading {
  text-align: center;
  align-items: center;
}
h1.mainheading {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 4.4em;
  margin-top: 0;
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #860954;
}
p.subheading {
  width: 50%;
  color: #000;
  margin: 0 auto;
  font-family: Lora, Times, serif;
  font-size: 1.25em;
  margin-bottom: 15px;
}
/*-----------------------------------------------------------*/
/*OLD Styling*/
/*-----------------------------------------------------------*/
h1.header,
h1.itemheading,
h1.monstername,
h1.spellname,
h1.PotionName,
h1.dreamname,
h1.shipheading,
h2.header,
h2.itemtype,
h2.monstertype,
h2.spelltype,
h3.weapon {
  font-family: Garamond, serif;
}
/*-----------------------------------------------------------*/
h1.header {
  color: #0f4025;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  text-align: center;
  align-items: center;
}
h1.itemheading,
h1.monstername,
h1.spellname,
h1.shipname,
h1.PotionName {
  text-align: left;
}
h1.itemheading {
  font-size: 1.6em;
  margin: 0 1.5%;
  padding-top: 1%;
}
h1.monstername {
  font-size: 1.6em;
  margin: 0;
  padding-top: 1%;
}
h1.spellname {
  color: #760d81;
  text-align: left;
  font-size: 1.6em;
  margin: 0;
  padding-top: 0;
}
h1.dreamname {
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin: 0;
  padding-top: 0;
}
h1.shipname {
  font-size: 2.4em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
}
h1.PotionName {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
  color: #8b0000;
}
/*-----------------------------------------------------------*/
h2.header {
  color: #0f4025;
  margin-top: 0;
  margin-bottom: 0;
}
h2.header,
h2.iheader,
h2.mheader,
h2.dheader {
  font-size: 1.75em;
  text-align: left;
  align-items: left;
}
h2.header {
  border-bottom: 3px solid #c0ad6a;
}
h2.mheader {
  color: black;
  border-bottom: 3px solid #1d6673;
}
h2.iheader {
  color: black;
  border-bottom: 3px solid #760d81;
}
h2.dheader {
  color: black;
  border-bottom: 3px solid #414141;
}
h2.pheader {
  color: black;
  font-size: 1.25em;
  border-bottom: 3px solid #8b0000;
}
h2.itemtype {
  text-align: left;
  font-size: 1em;
  font-style: italic;
  margin: 0 1.5% 1%;
}
h2.monstertype {
  text-align: left;
  font-size: 1em;
  font-style: italic;
  margin: 0;
}
h2.spelltype {
  text-align: left;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  padding: 0;
}
/*-----------------------------------------------------------*/
h3.weapon {
  text-align: right;
  font-size: 1em;
  margin: 0 1.5% 1%;
}
p.footer {
  width: 80%;
  text-align: center;
  align-items: center;
  font-family: Lora, Times, serif;
  color: #000;
  margin-top: 2%;
  margin-bottom: -2%;
  font-size: 1em;
}
p.itembody {
  text-align: left;
  font-size: 1em;
  margin: 0 1.5% 2%;
}
p.itemfooter {
  text-align: left;
  font-size: 1em;
  margin: 0 1.5%;
  padding-bottom: 1%;
}
p.subheading {
  width: 80%;
  text-align: center;
  align-items: center;
  font-family: Lora, Times, serif;
  color: #000;
  margin-top: 0;
  font-size: 1.25em;
}
p.status {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
.sbody {
  text-align: left;
  font-size: 1em;
  padding-bottom: 0;
}
.hbody {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.8em;
  padding-bottom: 0;
}
.sbold {
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 0;
}
.cClass {
  padding: 0;
  background-color: #760d81;

  color: #fff;
}
.cSource {
  padding: 0;
  color: #760d81;

  background-color: #fff;
}
.Damage {
  margin: 0 1.5%;
  padding-bottom: 1%;
  text-align: right;
  align-items: right;
  justify-items: right;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Buttons & Inputs */
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.submitmonster,
.submitspell,
.submititem,
.submitdream {
  color: #fff;
  padding: 7px 10px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  display: inline;
  margin: -3px 1px;
  width: 150px;
  font-family: Garamond, serif;
}
.submititem {
  background: linear-gradient(
    180deg,
    rgba(76, 175, 80, 1) 0,
    rgba(43, 115, 46, 1) 100%
  );
}
.submitmonster {
  background: linear-gradient(
    180deg,
    rgba(75, 147, 175, 1) 0,
    rgba(43, 56, 115, 1) 98%
  );
}
.submitspell {
  background: linear-gradient(
    180deg,
    rgba(168, 2, 141, 1) 0,
    rgba(58, 25, 59, 1) 98%
  );
}
.submitdream {
  background: linear-gradient(
    180deg,
    rgb(189, 189, 189) 0,
    rgb(63, 63, 63) 98%
  );
}
.submititem:hover,
.submitspell:hover,
.submitmonster:hover,
.submitdream:hover {
  color: #000;
}
/*-----------------------------------------------------------*/
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Dividers & Other Assets*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.mborder,
.iborder,
.sborder,
.dborder {
  height: 6px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0;
  border: 2px solid #000;
}
.mborder {
  background-image: url(../ImageAssets/GeneratorBorderMonster.jpeg);
}
.iborder {
  background-image: url(../ImageAssets/GeneratorBorderItem.jpeg);
}
.sborder {
  background-image: url(../ImageAssets/GeneratorBorderSpell.jpg);
}
.dborder {
  background-image: url(../ImageAssets/GeneratorBorderDream.png);
}
.ShipBorder {
  height: 6px;
  width: 825px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0;
  border: 2px solid #000;
  background-image: url(../ImageAssets/GeneratorBorderDream.png);
}
.PotionBorder {
  height: 6px;
  width: 825px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0;
  border: 2px solid #000;
  background-image: url(../ImageAssets/GeneratorBorderAlchemy.webp);
}
.mdivider,
.sdivider,
.pdivider {
  margin: 4px auto;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  align-items: center;
}
.mdivider {
  border-left: 475px solid #1d6673;
}
.sdivider {
  border-left: 475px solid #54062b;
}
.pdivider {
  border-left: 475px solid #8b0000;
}
.oval {
  margin: 2px auto;
  height: 5px;
  width: 450px;
  background-color: #c0ad6a;
  border-radius: 150%;
  align-items: center;
}
.logo {
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}
.sline {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #484848;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
}
.shipfooter {
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}
.PotionImage {
  mix-blend-mode: multiply;
  width: 100%;
  height: 425px;
}
