/*-----------------------------------------------------------
Images & Objects
There are a few styles here in use:
-Masthead relates to the main hero image on the top of every single page. 
-Object relates to anything loaded in using the auto loader or fetch
-MapStyle is used on the various map pages.
-Potion image is used on the alchemy gen page to control the image size next to each potion
-----------------------------------------------------------*/
.masthead,
object {
  width: 100%;
  margin: 0;
  padding: 0;
}
.masthead {
  align-items: center;
  justify-items: center;
  margin-bottom: -1px;
  object-fit: cover;
  object-position: 0 60%;
  height: 350px;
}

.dreamhead {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
  margin-bottom: -1px;
}

.mapstyle {
  width: 1229px;
  height: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
}
.PotionImage {
  mix-blend-mode: multiply;
  width: 100%;
  height: 425px;
}
.SpellImage {
  mix-blend-mode: multiply;
  width: auto;
  height: 100px;
}

.conicon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 3px;
  justify-content: right;
}

.icon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.hidden {
  visibility: hidden;
  width: auto;
  height: 2px;
  vertical-align: middle;
}
/*-----------------------------------------------------------
Homepage (Index) menu items (icons)
This is the full control for the entire menu, including the
font controls. Normally these would be spread out, but this
is to make editing or changing any aspect of them easier by
putting it all in one place. 
-----------------------------------------------------------*/
.menuitem-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.menuitem-shadow {
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5));
}

.menuitem {
  background-color: #fff;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  padding: 0;
  display: flex;
  clip-path: polygon(100%0, 100% 93%, 93% 100%, 0 100%, 0 0);
}

.menuitem:nth-child(-n + 2) {
  grid-column: span 3;
  height: 420px;
  width: auto;
}

.menuitem:nth-child(n + 3) {
  grid-column: span 2;
  height: 325px;
}

.menuitemimage {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 55%;
  object-fit: cover;
}
h1.menu,
p.menu {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
h1.menu {
  margin-top: 0;
  font-family: bold;
  font-size: 1.75rem;
  font-family: roboto-bold;
  color: #000;
}
p.menu {
  margin-top: -10px;
  font-family: roboto;
  font-size: 1rem;
  color: #000;
}

p.readme {
  align-items: center;
  position: absolute;
  bottom: 10px;
  display: flexbox;
  text-align: left;
  margin: 0 10px 0px;
  font-size: 1.1rem;
  vertical-align: bottom;
  font-family: roboto-bold;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #860954;
}

a:link {
  text-decoration: none;
}

/*-----------------------------------------------------------
Lists
Many of the documents loaded contain lists, here are the
various list stylings that control them. 
-----------------------------------------------------------*/
li {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}

ul {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}
/*-----------------------------------------------------------
Borders
On most of the generator pages, borders are used to frame the
output, her are the controls for each of them. 
-----------------------------------------------------------*/
.border {
  height: 6px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0;
  border: 2px solid #000;
}
.creatureBG {
  background-image: url(../ImageAssets/GeneratorBorderMonster.jpeg);
}
.itemBG {
  background-image: url(../ImageAssets/GeneratorBorderItem.jpeg);
}
.spellBG {
  background-image: url(../ImageAssets/GeneratorBorderSpell.jpg);
}
.dreamBG {
  background-image: url(../ImageAssets/GeneratorBorderDream.png);
}
.potionBG {
  width: 825px;
  background-image: url(../ImageAssets/GeneratorBorderAlchemy.webp);
}
.shipBG {
  width: 825px;
  background-image: url(../ImageAssets/GeneratorBorderDream.png);
}

/*-----------------------------------------------------------
Dividers & Spacers
Across the site it is often necessary to provide spacers and
dividers, here are the controls for each. 
-----------------------------------------------------------*/
.divider {
  margin: 0 auto;
  height: 3px;
  width: 650px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.triangleDIV {
  margin: 4px auto;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  align-items: center;
}
.creatureDIV {
  border-left: 475px solid #1d6673;
}
.spellDIV {
  border-left: 475px solid #781464;
}
.potionDIV {
  border-left: 475px solid #8b0000;
}
.line {
  display: flex;
  height: 4px;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #484848;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.purpleL {
  height: 3px;
  width: 300px;
  background-color: #860954;
}
.greenline {
  margin-top: 0 auto;
  height: 4px;
  width: 100%;
  background-color: #098643;
  align-items: center;
}
.greyline {
  background-color: #484848;
  margin-top: 2px;
  margin-bottom: 9px;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #484848;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
}
.underline {
  margin: 0 auto;
  height: 3px;
  width: 300px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.mapfooter {
  width: 80%;
  align-items: center;
  margin: 0;
  padding: 0;
}
.shipfooter {
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*-----------------------------------------------------------
Inputs & Outputs
These are the various input fields, tick boxes and buttons 
used across the site. 
-----------------------------------------------------------*/

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
}
input[type="checkbox"] {
  float: right;
}
.listbox {
  width: 250px;
}

.quotetick {
  float: right;
}
.quotetext {
  text-align: center;
  font-style: italic;
  font-size: 1.05rem;
}
.submit {
  color: #fff;
  padding: 0px 6px;
  text-align: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  display: inline;
  margin: 0px 10px;
  width: 150px;
  font-family: Garamond, serif;
  background: linear-gradient(
    180deg,
    rgb(159, 159, 159) 0,
    rgb(58, 58, 58) 100%
  );
}
.submit:hover {
  color: #000;
}
input::file-selector-button {
  --button-crop-size: 16px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 35px;
  vertical-align: middle;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.26px;
  font-family: MrEaves;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  background: #3a3a3a;
  background-image: linear-gradient(90deg, #3a3a3a, #9f9f9f);
  border: 2px solid #bcbcbc;
}

.submitcreature,
.submitspell,
.submitdream,
.submititem {
  --button-crop-size: 16px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 35px;
  vertical-align: middle;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.26px;
  font-family: MrEaves;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.submititem {
  background: #2b732e;
  background-image: linear-gradient(90deg, #2b732e, #4ead52);
  border: 2px solid #4caf50;
}

.submitcreature {
  background: #2b3873;
  background-image: linear-gradient(90deg, #2b3873, #4b93af);
  border: 2px solid #59b5da;
}
.submitspell {
  background: #3a193b;
  background-image: linear-gradient(90deg, #3a193b, #a8028d);
  border: 2px solid #c909a9;
}
.submitdream {
  background: #3a3a3a;
  background-image: linear-gradient(90deg, #3a3a3a, #9f9f9f);
  border: 2px solid #bcbcbc;
}
.submititem:hover,
.submitspell:hover,
.submitcreature:hover,
.submitdream:hover {
  color: #000;
}

/*****************************
/*           CONTAINER
/*****************************/
.document-container {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 25px;
  grid-auto-flow: row;
  grid-template-columns: 250px 950px;
  grid-template-areas: "secondary-content primary-content";
}

.sidenav {
  width: 230px;
  /* position: fixed;*/
  background: #fff;
  overflow-x: hidden;
  padding: 10px 0 10px;
  margin: 10px;
  border: 1.5px solid #bcbcbc;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  display: block;
  font-family: roboto;
  color: #000;
}

.sidenav a:hover {
  color: #a8028d;
  border-left: 3px solid #a8028d;
}

.LocationOutput {
  width: 90%;
}

a.menuhead {
  font-family: Roboto-medium;
  text-decoration: none;
  font-size: 1.05rem;
  border-bottom: 1px solid #e6e6e6;
}

a.menu {
  text-decoration: none;
  font-size: 0.9rem;
}

a.submenu {
  text-decoration: none;
  padding-left: 30px;
  font-size: 0.75rem;
}

.sticky {
  position: fixed;
  top: 0;
}

.hideme {
  display: none;
}
