/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Main Containers*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(../BackgroundParchment/BackgroundImage.jpeg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: fit-content;
  margin: 4% auto 0;
  align-items: center;
  background-image: url(../BackgroundParchment/dmg_background_base.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Images & Other Assets*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.masthead,
object {
  width: 100%;
  margin: 0;
  padding: 0;
}
.masthead {
  align-items: center;
  justify-items: center;
}
.divider {
  margin: 0 auto;
  height: 3px;
  width: 650px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.underline {
  margin: 0 auto;
  height: 3px;
  width: 300px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.mapstyle {
  width: 1229px;
  height: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
}
.shipfooter {
  width: 65%;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Font Styling*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: MoonDance;
  src: local("Moon Dance"), url("../Fonts/MoonDance-Regular.ttf");
}
h1 {
  text-align: center;
  align-items: center;
  margin-bottom: 0;
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #860954;
  font-weight: bold;
  font-size: 4.4em;
  margin-top: 0;
}
p.subheading {
  width: 50%;
  color: #000;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-family: Lora, Times, serif;
  font-size: 1.25em;
  margin-bottom: 15px;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Buttons & Inputs */
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.submit {
  color: #fff;
  padding: 0px 6px;
  text-align: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  display: inline;
  margin: 0px 10px;
  width: 150px;
  font-family: Garamond, serif;
  background: linear-gradient(
    180deg,
    rgb(159, 159, 159) 0,
    rgb(58, 58, 58) 100%
  );
}
.submit:hover {
  color: #000;
}
.listbox {
  width: 250px;
}

.LocationOutput {
  width: 90%;
}
