/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Main Containers*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  background-image: url(../BackgroundParchment/BackgroundImage.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1250px;
  height: fit-content;
  margin: 4% auto 0;
  padding: 0;
  background-image: url(../BackgroundParchment/dmg_background_base.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Grid Containers */
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.main-container {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 3%;
  grid-auto-flow: row;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas: "left centre right";
}

.left,
.centre,
.right {
  text-align: center;
  align-items: center;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Font Styling*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
@font-face {
  font-family: Cinzel1;
  src: local("Cinzel1"), url("../Fonts/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: MoonDance;
  src: local("Moon Dance"), url("../Fonts/MoonDance-Regular.ttf");
}
@font-face {
  font-family: Solbera Imitation;
  src: local("Solbera Imitation"),
    url("../Fonts/Solbera\ Imitation\ Display.otf");
}

h1.header,
h2.header {
  color: #0f4025;
  margin-top: 0;
  margin-bottom: 0;
}
h1.header {
  font-family: Cinzel1;
  font-weight: bold;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 4.25em;
  text-align: center;
  align-items: center;
}
h2.header {
  font-family: Garamond, serif;
  font-size: 1.75em;
  text-align: left;
  align-items: left;
  border-bottom: 3px solid #c0ad6a;
}
p.subheading {
  width: 60%;
  text-align: center;
  align-items: center;
  font-family: Lora, Times, serif;
  color: #000;
  margin: 0 auto;
  font-size: 1.25em;
}
.quote {
  width: 60%;
  text-align: right;
  align-items: right;
  font-family: MoonDance;
  color: #000;
  margin: 0 auto;
  font-size: 1.5em;
  font-style: italic;
}
p.body {
  text-align: left;
  font-family: Lora, Times, serif;
  color: #000;
  margin: 0 auto;
  font-size: 1.1em;
}

/*-----------------------------------------------------------*/
/*Images & Over Assets*/
/*-----------------------------------------------------------*/
.logo {
  width: 100%;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.oval {
  margin: 2px auto;
  height: 5px;
  width: 450px;
  background-color: #c0ad6a;
  border-radius: 150%;
  align-items: center;
}

object {
  width: 100%;
  margin: 0;
  padding: 0;
}
