/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Images & Other Assets*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
.divider {
  margin: 0 auto;
  height: 3px;
  width: 100%;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  float: left;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*Font Styling*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

h1,
h2,
h3,
h4 {
  text-align: left;
  align-items: left;
  margin-bottom: 0;
  font-family: Cinzel1;
  text-transform: capitalize;
  font-variant: small-caps;
}
h1,
h3,
h4 {
  color: #860954;
}
h1 {
  font-weight: bold;
  font-size: 3.5em;
  margin-top: 10px;
}
h2 {
  color: #000;
  margin-top: 10px;
  font-size: 1.75em;
}
h3,
h4 {
  margin-top: 10px;
  font-size: 1.5em;
  margin-bottom: 5px;
}
h4 {
  margin-top: 10px;
  font-size: 1.25em;
  margin-bottom: 5px;
}
p,
li {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: Lora, Times, serif;
  font-size: 1.25em;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  color: #860954;
  min-width: 50px;
}
td {
  padding: 3px 10px;
}
