/*-----------------------------------------------------------
Main Containers
These are the main containers which power the entire site:
-The container is then what limits the sites width and margins. Every page should be contained within this. 
-Body containter is used only for the margin inside any of the shell generators to prevent edge to edge. 
-----------------------------------------------------------*/

html {
  background: #14171b;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../ImageAssets/BackgroundParchment/background_texture.png);
  background-position: top;
  background-repeat: repeat;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  height: fit-content;
  margin: 0 auto 0;
  align-items: center;

  padding: 0;
}
.bodycontainer {
  padding: 2%;
}

body {
  margin: 0;
  padding: 0;
}
/*-----------------------------------------------------------
Grid Containers
These are the various grid containers used across the site:
-Main Containter is used on the home page to split the three columns of icons apart from one another. 
-Generator container, potion container and stat containers are all used on the shell generators.
-----------------------------------------------------------*/

.generator-container,
.list-container,
.stat-container,
.spell-container,
.spell-heading {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
}
.generator-container {
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-areas: "Form Output";
}
.list-container {
  justify-content: center;
  align-content: center;
  grid-template-columns: 50% 627px;
  column-gap: 2%;
  grid-template-areas: "List View";
}

.options {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.photo {
  display: flex;
  justify-content: center;
  align-content: center;
}

.spell-container {
  grid-template-columns: 80% 18%;
  grid-template-areas: "Desc Image";
}
.spell-heading {
  grid-template-columns: 90% 5%;
  grid-template-areas: "Spell-Title Spell-Con";
}
.stat-container {
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-areas: "STR DEX CON INT WIS CHA" "STRn DEXn CONn INTn WISn CHAn";
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS,
.CHAn,
.CONn,
.DEXn,
.INTn,
.STRn,
.WISn {
  align-items: center;
  margin: auto;
}
.CHA,
.CON,
.DEX,
.INT,
.STR,
.WIS {
  font-weight: 700;
}

.framecontainer,
.dreamcontainer {
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.framecontainer,
.dreamcontainer {
  width: 570px;
}
.framecontainer {
  background-image: url(../ImageAssets/BackgroundParchment/sword_meow_background_base.png);
  color: #000;
}
.dreamcontainer {
  background-image: url(../ImageAssets/BackgroundParchment/DreamShellBackground.jpeg);
  color: #fff;
}

.whitecontainer {
  background-image: url(../ImageAssets/SpellFrame/gui_bkg.png);
  width: 625px;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.spellTop {
  background-image: url(../ImageAssets/SpellFrame/gui_window-top.png);
  height: 78px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.spelldsc {
  padding: 18px 0px 0px 24px;
  font-weight: normal;
  font-size: 26px;
  margin: 0px;
  color: #ffffff;
  font-family: PostAntiquaRoman, Palatino, serif;
  text-shadow: 1px 1px #1f3528;
}

.spellMiddle {
  min-height: 220;
  font-weight: bold;
  color: #f1f1f1;
  padding: 0px 25px 10px 25px;
  background-image: url(../ImageAssets/SpellFrame/gui_window-middle.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

.spellBtm {
  height: 42px;
  background-image: url(../ImageAssets//SpellFrame/gui_window-bottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8px;
}

.tri-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-columns: auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Col1 Col2 Col3";
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  padding: 18px 0px 0px 24px;
  font-weight: normal;
  font-size: 26px;
  margin: 0px;
  color: #ffffff;
  font-family: PostAntiquaRoman, Palatino, serif;
  text-shadow: 1px 1px #1f3528;

  border: none;
  outline: none;

  background: rgba(76, 175, 80, 0);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.collapsible:hover {
  color: #06885d;
}

.collapsible::after {
  align-items: center;
  justify-items: center;
  content: "\25Ec";
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  margin-left: 4px;
  margin-right: 7px;
  margin-top: 2px;
}

.active::after {
  content: "\25Ec";
  transform: rotate(0deg);
  margin-left: 4px;
  margin-right: 7px;
  margin-top: -3px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0;
  display: none;
  overflow: hidden;
}

.split-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: left;
  align-items: Left;
  grid-template-columns: repeat(6, 1fr);
}

.twofoursplit:nth-child(n) {
  grid-column: span 2;
}

.twofoursplit:nth-child(n + 2) {
  grid-column: span 4;
}

.oneonefoursplit:nth-child(n) {
  grid-column: span 1;
}

.oneonefoursplit:nth-child(n + 3) {
  grid-column: span 4;
}

.fouronesplit:nth-child(n) {
  grid-column: span 5;
}

.fouronesplit:nth-child(n + 2) {
  grid-column: span 1;
}

.item-container {
  display: grid;
  width: 100%;
  column-gap: 0.2%;
  grid-auto-flow: row;
  grid-template-columns: 74% 24%;
  grid-template-areas: "heading sourcegraphic";
}

.sourcegraphic {
  align-items: right;
  justify-content: right;
  text-align: right;
}

.source {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  display: inline-flex;
}
.pageno {
  font-size: 0.7rem;
  margin-left: 1px;
  display: inline-flex;
}

/* Style the list view content. */
table {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 25px;
  overflow-y: auto;
  table-layout: fixed;
}

.fixedHead {
  position: sticky;
  top: 0;
  z-index: 1;
}

table,
td,
th {
  border: 1px solid #eceae8;
  border-collapse: collapse;
}
table,
td {
  font-family: roboto;
  font-size: 0.9rem;
}
thead {
  border-bottom: 3px solid #d0cac5;
}
tbody,
th {
  text-align: left;
  padding: 5px 10px;
  min-width: 50px;
}
th {
  background-color: #fff;
  font-family: Roboto-bold;
}
hr {
  border-top: 1px solid #555;
}
td {
  padding: 3px 10px;
}
tr:nth-child(even) {
  background-color: #f1f4f1;
}
tr:nth-child(odd) {
  background-color: #e5e5e5;
}

/*-----------------------------------------------------------
Images & Objects
There are a few styles here in use:
-Masthead relates to the main hero image on the top of every single page. 
-Object relates to anything loaded in using the auto loader or fetch
-MapStyle is used on the various map pages.
-Potion image is used on the alchemy gen page to control the image size next to each potion
-----------------------------------------------------------*/
.masthead,
object {
  width: 100%;
  margin: 0;
  padding: 0;
}
.masthead {
  text-align: block;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto -1px;
  object-fit: cover;
  object-position: 0 60%;
  height: 450px;
}

.dreamhead {
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
  margin-bottom: -1px;
}

.mapstyle {
  display: block;
  width: 1229px;
  height: 100%;
  margin: 5px;
  align-items: center;
  justify-items: center;
  border: 4px solid #000000;
  position: relative;
}

.mapstyle img {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
}

.Adv {
  width: 975px;
}

.Map {
  width: 1250px;
}
.Parchment {
  background-image: url(../ImageAssets/BackgroundParchment/MapParchment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.MapBorder {
  position: relative;
  border: 2px solid #000000;
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.corner-decoration {
  position: absolute;
  width: 4em;
  margin: 2px;
  background-color: transparent;
}

.corner-left-top {
  left: 0;
  top: 0;
}

.corner-right-top {
  top: 0;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-right-bottom {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.corner-left-bottom {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.SpellImage {
  mix-blend-mode: multiply;
  width: auto;
  height: 100px;
  border: solid 2px #c5ab73;
}

.SpellIcon {
  width: 45px;
  height: 45px;
}

.imgfloat {
  width: auto;
  float: right;
  display: block;
  margin: 5px;
}

.conicon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 3px;
  justify-content: right;
}

.icon {
  width: auto;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}
.hidden {
  visibility: hidden;
  width: auto;
  height: 2px;
  vertical-align: middle;
}
/*-----------------------------------------------------------
Homepage (Index) menu items (icons)
This is the full control for the entire menu, including the
font controls. Normally these would be spread out, but this
is to make editing or changing any aspect of them easier by
putting it all in one place. 
-----------------------------------------------------------*/
.menuitem-container {
  width: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  column-gap: 1.5%;
  grid-auto-flow: row;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
}

.menuitem-shadow {
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5));
}

.menuitem {
  background-color: #fff;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  padding: 0;
  display: flex;
  clip-path: polygon(100%0, 100% 93%, 93% 100%, 0 100%, 0 0);
}

.menuitem:hover {
}

.menuitem:nth-child(-n + 2) {
  grid-column: span 3;
  height: 420px;
  width: auto;
}

.menuitem:nth-child(n + 3) {
  grid-column: span 2;
  height: 325px;
}

.menuitemimage {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 55%;
  object-fit: cover;
}

h1.menu {
  margin-top: 0;
  font-family: bold;
  font-size: 1.75rem;
  font-family: roboto-bold;
  color: #000;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
p.menu {
  margin-top: -10px;
  font-family: roboto;
  font-size: 1rem;
  color: #000;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

p.readme {
  align-items: center;
  position: absolute;
  bottom: 10px;
  display: flexbox;
  text-align: left;
  margin: 0 10px 0px;
  font-size: 1.1rem;
  vertical-align: bottom;
  font-family: roboto-bold;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #155305;
}

a:link {
  text-decoration: none;
}

/*-----------------------------------------------------------
Lists
Many of the documents loaded contain lists, here are the
various list stylings that control them. 
-----------------------------------------------------------*/
li {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}

ul {
  color: #000;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  font-family: roboto;
  font-size: 1rem;
  margin-bottom: 8px;
}
/*-----------------------------------------------------------
Borders
On most of the generator pages, borders are used to frame the
output, her are the controls for each of them. 
-----------------------------------------------------------*/
.border {
  height: 7px;
  width: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: block;
  margin: 0;
  border: 2px solid #000;
}
.creatureBG {
  background-image: url(../ImageAssets/BackgroundParchment/GeneratorBorderMonster.jpeg);
}
.itemBG {
  background-image: url(../ImageAssets/BackgroundParchment/GeneratorBorderItem.jpeg);
}

.dreamBG {
  background-image: url(../ImageAssets/BackgroundParchment/GeneratorBorderDream.png);
}

/*-----------------------------------------------------------
Dividers & Spacers
Across the site it is often necessary to provide spacers and
dividers, here are the controls for each. 
-----------------------------------------------------------*/
.divider {
  margin: 0 auto;
  height: 3px;
  width: 650px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.triangleDIV {
  margin: 4px auto;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  align-items: center;
}

.lineDIV {
  margin: 0 auto 8px;
  height: 2px;
  width: 550px;
  background-color: #1d6673;
  align-items: center;
}

.creature {
  background-color: #1d6673;
}
.item {
  background-color: #098643;
}

.line {
  display: flex;
  height: 4px;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #484848;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.purpleL {
  height: 3px;
  width: 300px;
  background-color: #860954;
}

.greyline {
  background-color: #484848;
  margin-top: 2px;
  margin-bottom: 9px;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #484848;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5);
}
.underline {
  margin: 0 auto;
  height: 3px;
  width: 300px;
  background-color: #860954;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
}
.mapfooter {
  width: 80%;
  align-items: center;
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------------------
Inputs & Outputs
These are the various input fields, tick boxes and buttons 
used across the site. 
-----------------------------------------------------------*/
label {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #f7f2e9;
  font-size: 1rem;
}

.whiteInput[type="text"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  height: 25px;
  margin-bottom: 5px;
  background: none;
  color: #000;
}

input[type="checkbox"] {
  float: right;
}

input[type="text"] {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/SpellFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}

input[type="number"] {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/SpellFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}

textarea {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/SpellFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 95%;
  height: 75px;
  margin-bottom: 5px;
  padding: auto;
}

.inputlist {
  border-left: 1px solid #aeab79;
  border-top: 1px solid #aeab79;
  border-right: 1px solid #eff2ae;
  border-bottom: 1px solid #eff2ae;
  color: #e3e0a6;
  font-weight: normal;
  background-color: #191812;
  background: url(../ImageAssets/SpellFrame/input-textbox2.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 95%;
  height: 25px;
  margin-bottom: 5px;
  padding: auto;
}

.listbox {
  width: 250px;
}

.quotetick {
  float: right;
}
.quotetext {
  text-align: center;
  font-style: italic;
  font-size: 1.05rem;
}
.submit {
  color: #fff;
  padding: 0px 6px;
  text-align: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  display: inline;
  margin: 0px 10px;
  width: 150px;
  font-family: Garamond, serif;
  background: linear-gradient(
    180deg,
    rgb(159, 159, 159) 0,
    rgb(58, 58, 58) 100%
  );
}
.submit:hover {
  color: #000;
}
input::file-selector-button {
  --button-crop-size: 16px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 35px;
  vertical-align: middle;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.26px;
  font-family: MrEaves;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  background: #3a3a3a;
  background-image: linear-gradient(90deg, #3a3a3a, #9f9f9f);
  border: 2px solid #bcbcbc;
}

.submitcreature {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  font-family: MrEaves;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.26px;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  border: 2px solid #59b5da;
  background: #2b3873;
  background-image: linear-gradient(90deg, #2b3873, #4b93af);
  transition: 0.1s ease-out;
  z-index: 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0 100%
  );
  min-height: 35px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.submitspell {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  font-family: MrEaves;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.26px;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  border: 2px solid #c909a9;
  background: #3a193b;
  background-image: linear-gradient(90deg, #3a193b, #a8028d);
  transition: 0.1s ease-out;
  z-index: 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0 100%
  );
  min-height: 35px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.submitdream {
  --button-crop-size: 16px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 35px;
  vertical-align: middle;
  padding: 10px 35px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.26px;
  font-family: MrEaves;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--button-crop-size)),
    calc(100% - var(--button-crop-size)) 100%,
    0 100%
  );
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  background: #3a3a3a;
  background-image: linear-gradient(90deg, #3a3a3a, #9f9f9f);
  border: 2px solid #bcbcbc;
}

.submititem:hover,
.submitspell:hover,
.submitcreature:hover,
.submitdream:hover {
  color: #000;
}

.CardContainer {
  width: 625px;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../ImageAssets/BackgroundParchment/phb_background_base.png);
  align-items: center;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: solid 1px rgb(227, 227, 227);
  margin: auto;
}

.mainborder {
  margin: 5px;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-color: #b08f26;
}

.blackDIV {
  margin: 0 auto 8px;
  height: 2px;
  width: 570px;
  background-color: #000000;
  align-items: center;
}
