/*****************************
/*           HEADERS
/*****************************/
h1,
h2,
h3,
h4 {
  margin-bottom: 0.2em;
  font-weight: 800;
  color: #000;
  text-align: left;
  font-family: MrEaves;
}

h1 {
  margin-top: 1em;
  column-span: all;
  font-size: 2rem;
  border-bottom: 3px solid #c9ad6a;
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 1em;
  font-size: 1.6rem;
  border-bottom: 2px solid #c9ad6a;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 0.2em;
  font-size: 1.375rem;
  border-bottom: 2px solid #c9ad6a;
  margin-bottom: 0.5em;
}
h4 {
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-size: 1.125rem;
}
p.caption {
  font-family: roboto-medium;
  font-weight: 800;
  text-align: center;
  font-style: italic;
}
p {
  text-align: left;
  font-family: roboto;
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 8px;
}

.center {
  align-items: center;
}

/*****************************
/*         OBJECTS
/*****************************/

em {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 2% auto 2%;
  background: #eff3f5;
  border-style: solid;
  border-width: 1px;
  border-image: url(../ImageAssets/GeneralImages/noteBorder.png) 12 stretch;
  border-image-outset: 9px 0px;
  border-image-width: 11px;
  padding: 1%;
  filter: drop-shadow(1px 4px 6px #888);
  font-size: 1rem;
  font-family: Lora, Times, serif;
}

.advmap {
  display: block;
  width: 950px;
  justify-items: center;
  margin: 5px;
  align-items: center;
  justify-items: center;
  border: 4px solid #000000;
  position: relative;
}

.advmap img {
  display: block;
  width: 950px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 95%
  );
}

/*-----------------------------------------------------------
Tables
Many of the documents loaded contain tables, here are the
various table stylings that control them. 
-----------------------------------------------------------*/
table {
  margin-bottom: 25px;
  margin-top: 10px;
}
table,
td,
th {
  border: 1px solid #eceae8;
  border-collapse: collapse;
}
table,
td {
  font-family: roboto;
}
thead {
  border-bottom: 3px solid #d0cac5;
}
tbody,
th {
  text-align: left;
  padding: 5px 10px;
  min-width: 50px;
}
th {
  background-color: #fff;
  font-family: Roboto-bold;
}
hr {
  border-top: 1px solid #555;
}
td {
  padding: 3px 10px;
}
tr:nth-child(even) {
  background-color: #f1f4f1;
}
tr:nth-child(odd) {
  background-color: #dce3db;
}
